/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

  /* Colors */
  --primary-color-1:#3D388B;
  --primary-color-2:#625CB8;
  --main-color:#BAB9FD;
  --white-color:#FFFFFF;
  --black-color:#000000;
  --status-color:#FF4E03;

  /* Font and typography */
  --logo-font: "Luckiest Guy", cursive;
  --title-font: "Poppins", sans-serif;
  --body-font:"Montserrat", sans-serif;


}

h1,h2,h3,h4,h5,h6{
  font-family: var(--title-font);
}
h3.d-title{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--black-color);
}

h3.subtitle{
  color:var(--primary-color-2);
}
body {
  background-image: url("../../assets/images/GradientBackground.svg");
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}
.transparent-table {
  background-color:transparent;
}


#map {
  margin-top:30px;
  height: 450px;
  width: 100%;
 
}
.tag {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.buttpurple {
  width: 100%;
  padding-top: 15 px;
  padding-top: 20 px;
  color: antiquewhite;

  border: none;
  align-items: center;
  background-color: var(--primary-color-1);
}
.contactBox {
  max-width: 70%;
 border-radius: 5px;
}
span {
  color: var(--primary-color-1);
  font-weight: bold;
}
.show-text {
  display: block;
  padding: 10px;
  background-color: green;
  color: antiquewhite;
  border-radius: 30px;
}
.none{
    display:none;
}


/* Book Card */
.book-card{
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;

}
.bookimg{
  width: 150px;
  height:200px;
}
.bookimg>img{
  width: 100%;
  height: 100%;
}
.book-content{
  text-align: left;
}
.book-content .price{
  color: var(--primary-color-1);
}
.book-content .price span{
  text-decoration: line-through;
}

.book-content .title{
  font-size: 20px;
  font-weight: bold;
}
.cart{
  padding: 10px;
  background-color: var(--primary-color-1);
  text-decoration: none;
  color: #fff;
}
.add{
  padding: 10px;
  background-color: var(--primary-color-2);
  text-decoration: none;
  color: #fff;
}

.card-title{
  color: var(--main-color) !important;
  font-weight: bold;
  font-size: 30px;
}
.card-link{
  text-decoration: none;
}

.card-body{
  background-color: var(--primary-color-1);
}
/* Header */
.header{
  background-image: url(/assets/images/header.png);
  background-size: cover;
  height: 80vh;

}

.header h1{
  color: var(--main-color);
  font-family:var(--title-font);
  font-weight: bold;
  position: absolute;
  left: 10%;
  top: 40%;
}

.book-nav {
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 10px;
}


@media (min-width: 1024px) {
  .map-container {
    position: absolute !important;
    margin-left: 40px;
    
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .map-container {
    position: relative !important;
  
   
  }
}
.customSearchBar{
    display: flex;
    border-bottom: #3d388b solid 3px;

}
.customSearchBarLen{
    border: none;
    background: none;
    margin-bottom: 5px;;

}
.customSearchBartext{
 border: none;
 margin-left: 4px;
}

.customBut{
  width:200px;
  height:50px;
  background-color: #625CB8;
  color: white;
  border-style: none;
  border-radius: 20px;
  padding: 3px;
}