
<div class="container-fluid mx-auto mt-4 contactBox">
  <div class="row rounded-4" style="background-color: white">
    <div class="col-lg-6 py-3 ps-4 order-1 order-lg-0">
      <h1 class="fs-1">Get in <span>Touch</span></h1>
      <p>We are always welcoming you.</p>
      <%- include('./component/form.ejs') %>
    </div>
    <div class="col-lg-4 col-md-12 position-relative order-lg-1 order-sm-0">
      <div id="map" class="map-container"></div>
    </div>

    <div
      class="col-lg-2 d-none d-lg-block rounded-end-4 order-2"
      style="background-color: #3d388b"
    ></div>
  </div>
</div>
