<div class="container center" style="background-color:rgba(235, 235, 235, 0.48); width: 1042px; height: 517px; margin-top: 50px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

            <style>
            .montserrat-title {
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 900;
                font-style: normal;
            }

            .montserrat-regular {
                font-family: "Montserrat", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }               
            </style>

            <div class="carousel-item active">
                <div class="row align-items-center" style="height: 517px; margin-left: 50px;">
                    <div class="col-6">
                        <h1 style="font-size: 36px" class="montserrat-title">Case Closed</h1><br>
                        <p style="font-size: 13px" class="montserrat-regular">Jimmy Kudo, the son of a world-renowned mystery writer, is a high school detective who has cracked the most baffling of cases. One day while on a date with his childhood friend Rachel Moore, Jimmy observes a pair of men in black involved in some shady business. The men capture Jimmy and give him a poisonous substance to rub out their witness. But instead of killing him, it turns him into a little kid! Jimmy takes on the pseudonym Conan Edogawa and continues to solve all the difficult cases that come his way. All the while, he's looking for the men in black and the mysterious organization they're with in order to find a cure for his miniature malady.</p>
                        <br><button type="button" class="btn btn-primary montserrat-title" style="background-color: #665eff; border: none; font-size: 15px; color: white;">see Details</button>
                    </div>
                    <div class="col-6">
                        <img src="../../assets/img/CaseClosed.jpg" class="d-block" style="width: 273px; height: auto; margin-left: auto; margin-right: auto; margin-top: 25px;" alt="CaseClosedPic">
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row align-items-center" style="height: 517px; margin-left: 50px;">
                    <div class="col-6">
                        <h1 style="font-size: 36px" class="montserrat-title">Dragon Ball</h1><br>
                        <p style="font-size: 13px" class="montserrat-regular">Dragon Ball introduces a young monkey-tailed boy named Goku (a wry update of the classic Chinese "Monkey King" legend), whose quiet life changes when he meets a girl named Bulma who is on a quest to collect seven "Dragon Balls." If she gathers them all, an incredibly powerful dragon will appear and grant her one wish. But the precious orbs are scattered all over the world, and Bulma could use the help of a certain super-strong boy...</p>
                        <br><button type="button" class="btn btn-primary montserrat-title" style="background-color: #665eff; border: none; font-size: 15px; color: white;">see Details</button>
                    </div>
                    <div class="col-6">
                        <img src="../../assets/img/DragonBall.jpg" class="d-block" style="width: 273px; height: auto; margin-left: auto; margin-right: auto; margin-top: 25px;" alt="DragonBallPic">
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row align-items-center" style="height: 517px; margin-left: 50px;">
                    <div class="col-6">
                        <h1 style="font-size: 36px" class="montserrat-title">Oshi no Ko</h1><br>
                        <p style="font-size: 13px" class="montserrat-regular">Gorou is an ob-gyn with a life far removed from the glitz and glamour of the entertainment industry―the world of his favorite idol, rising star Ai Hoshino. But when the two are unexpectedly brought together, their fates become intertwined in ways that defy all reason. For the good doctor, it’s time to stan(d) and deliver!</p>
                        <br><button type="button" class="btn btn-primary montserrat-title" style="background-color: #665eff; border: none; font-size: 15px; color: white;">see Details</button>
                    </div>
                <div class="col-6">
                    <img src="../../assets/img/OshiNoKo.jpg" class="d-block" style="width: 273px; height: auto; margin-left: auto; margin-right: auto; margin-top: 25px;" alt="OshiNoKoPic">
                </div>
            
        </div>
    </div>
</div><br><br>
</div>
</div>


<!-- <div class="container center" 
style="
background-color:rgba(235, 235, 235, 0.48); 
width: 1042px; 
height: 517px;
margin-top: 50px;">

<div id="carouselExampleIndicators" class="carousel slide">
    <style>
        .indicatorsPic{
            display: block;
            margin-left: auto;
            width: 273px;
            height: auto;
            margin-right: 95px;
            margin-top: 60px;
        }
    </style>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="../../assets/img/CaseClosed.jpg" class="d-block indicatorsPic" alt="CaseClosedPic">
        </div>
        <div class="carousel-item">
        <img src="../../assets/img/DragonBall.jpg" class="d-block indicatorsPic" alt="DragonBallPic">
    </div>
        <div class="carousel-item">
        <img src="../../assets/img/OshiNoKo.jpg" class="d-block indicatorsPic" alt="OshiNoKoPic">
    </div>
    </div><br><br><br><br>
</div>
</div> -->