<nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
  <div class="container-fluid">
      <a class="navbar-brand px-4" href="#">
          <img src="../../assets/images/BrandName.png" alt="Brand Logo">
      </a>

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse  navbar-collapse  navbar-toggler-custom" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Promotions</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Category
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Novels</a></li>
                      <li><a class="dropdown-item" href="#">KidBooks</a></li>
                      <li><a class="dropdown-item" href="#">Manga</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Contact Us</a>
              </li>
          </ul>

          <form class="d-flex">
              <div class="customSearchBar">
                  <button class="customSearchBarLen" type="submit">
                      <img src="../../assets/images/lens.svg" alt="Search Icon">
                  </button>
                  <input class="customSearchBartext" type="search" placeholder="Search" aria-label="Search">
              </div>
          </form>

          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">
                      <div>
                          <img src="../../assets/images/Basket.svg" alt="Basket Icon">
                          ₿ 2,228
                      </div>
                  </a>
              </li>
          </ul>
      </div>
  </div>
  <script>
    // Add an event listener to the toggle button
    document.querySelector('.navbar-toggler').addEventListener('click', function () {
        // Toggle the 'collapsed' class on the toggle button
        this.classList.toggle('collapsed');
    });
</script>
</nav>
