<div class="publisher">
    <h3 class="montserrat-title text-center" style="font-size: 25px;">Popular Publisher</h3>
    <div class="publisherPic">
        <img src="../../assets/img/kadokawa.png" class="" alt="kadokawa" 
        style="margin-left: 10px;margin-right: 10px;">
        <img src="../../assets/img/Madman.png" class="" alt="madman"
        style="margin-left: 10px;margin-right: 10px;">
        <img src="../../assets/img/Yen_Press.png" class="" alt="yenpress"
        style="margin-left: 10px;margin-right: 10px;">
    </div>
</div>

<style>
    .publisherPic {
    display: flex;
    justify-content: center;
    transform: scale(0.5);
    }
</style>